html(lang='en')
	head
		script(data-main='/js/webmin/main', src='/js/vendor/require.js')
		link(rel='stylesheet', href='/css/monitor.css')
		title= title
	body
		div#root-container.container-fluid
			div.row-fluid
				div.span12
					div#header.row-fluid
					div#content.row-fluid