@import "../js/vendor/bootstrap/css/bootstrap.css";
@import "../js/vendor/bootstrap/css/bootstrap-responsive.css";
@import "../js/vendor/bootstrap/font-awesome/css/font-awesome.css";

/*td.group:nth-child(odd) {
	background-color:#000000;
}

td.group:nth-child(even) {
	background-color:#000000;
}*/

#alert_list_table td.group {
	background-color:#000000;
	color: #FFF;
}

#alert_list_table td.url {
	width: 60%;
}

td.group {
	background:black;
	background-color:#000000;
	border-bottom: 4px solid #A19B9E;
	border-top: 4px solid #A19B9E;
}

tooltip {
	position:absolute;
	border:1px solid #333;
	background:#f7f5d1;
	padding:2px 5px;
	color:#333;
	display:none;
}

.severity_1 {
	color: #FF0000;
}

.severity_2 {
	color: #FFA500;
}

.severity_3 {
	color: #FFFF00;
}

.severity_4 {
	color: #00FF00;
}

.table-fluid {
	width: auto;
	overflow: scroll;
}

.container-fluid {
	padding: 0 !important;
}